<h3> Cart </h3>

<!-- para cada item o carrinho, vai mostrar seu nome e preço -->
<div class="cart-item" *ngFor="let item of items">
    <span> {{ item.name }}</span>
    <span> {{ item.price | currency }} </span>
</div>

<div>
    <button [routerLink]="['/shipping']">
        Shipping Prices
    </button>
</div>

<br>

<!-- formGroup relaciona os dados enviados ao meu checkoutForm object da classe, escuto o evento com ngSubmit -->
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

    <div>
        <label for="name">
            Name
        </label>
        <!-- relacionando o checkoutForm.name ao conteudo do input -->
        <input id="name" type="text" formControlName="name">
    </div>

    <div>
        <label for="adress">
            Adress
        </label>
        <!-- relacionando o checkoutForm.adress ao conteudo do input -->
        <input id="adress" type="text" formControlName="adress">
    </div>

    <button class="button" type="submit">Purchase</button>
</form>